#header{
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid black;
}
#left_side{
    order: 1;
    width: 45%;
    padding: 5px;
}
#right_side{
    order: 2;
    width: 45%;
    padding: 5px;
}
#container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
#eduEnrich
{
    border:1px solid black;
    width: 50%;
    background-color: lightgray;
}
#class_list{
    list-style-type: none;
}
#save{
    background-color:rgba(20, 243, 20, 0.80);
}
#newSession{
    background-color:rgba(224, 15, 15, 0.80);
}
table, th, td {
   border: 1px solid black;
}
td{
    background-color: lightgrey;
}
