#title
{
    text-align: center;
    color: #81C784;
    font-family: 'Roboto', sans-serif;
    text-rendering: optimizelegibility;
    font-size: 4em;
}

#majorTab {
    position: relative;
    left: 15px;
  width: 95%;
  max-width: 100%;
  margin-bottom: 2rem;
  background-color: @table-bg;
  > thead,
  > tbody,
  > tfoot {
    > tr {
      .transition(all .3s ease);
      > th,
      > td {
        text-align: left;
        padding: @table-cell-padding;
        vertical-align: top;
        border-top: 1px solid rgba(0,0,0,.12);
        .transition(all .3s ease);
      }
    }
  }
  > thead > tr > th {
    font-weight: @table-header-font-weight;
    color: @table-header-font-color;
    vertical-align: bottom;
    border-bottom: 1px solid rgba(0,0,0,.12);
  }
  > caption + thead,
  > colgroup + thead,
  > thead:first-child {
    > tr:first-child {
      > th,
      > td {
        border-top: 1px solid black;
      }
    }
  }
  > tbody + tbody {
    border-top: 1px solid rgba(0,0,0,.12);
  }

  // Nesting
  .table {
    background-color: @table-bg;
  }

  // Remove border
  .no-border {
    border: 0;
  }
}

#coreTab {
    position: relative;
    left: 15px;
  width: 95%;
  max-width: 100%;
  margin-bottom: 2rem;
  background-color: @table-bg;
  > thead,
  > tbody,
  > tfoot {
    > tr {
      .transition(all .3s ease);
      > th,
      > td {
        text-align: left;
        padding: @table-cell-padding;
        vertical-align: top;
        border-top: 1px solid rgba(0,0,0,.12);
        .transition(all .3s ease);
      }
    }
  }
  > thead > tr > th {
    font-weight: @table-header-font-weight;
    color: @table-header-font-color;
    vertical-align: bottom;
    border-bottom: 1px solid rgba(0,0,0,.12);
  }
  > caption + thead,
  > colgroup + thead,
  > thead:first-child {
    > tr:first-child {
      > th,
      > td {
        border-top: 1px solid rgba(0,0,0,.12);
      }
    }
  }
  > tbody + tbody {
    border-top: 1px solid rgba(0,0,0,.12);
  }

  // Nesting
  .table {
    background-color: @table-bg;
  }

  // Remove border
  .no-border {
    border: 0;
  }
}

#left_side{
    float: left;
    width: 54%;
    border:1px solid black;
    background: #f7f7f7;
}
#right_side{
    float:right;
    width: 45%;
    border:1px solid black;
    background: #f7f7f7
}
#container{
    width: 100%;
}
#eduEnrich
{
    border:1px solid black;
    width: 50%;
    background-color: lightgray;
}
#class_list{
    list-style-type: none;
}
#save{
    background-image: linear-gradient(to bottom, #08c, #04c);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}
#newSession{
    background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}
table, td {
   border: 1px solid black;
}
td{
    background-color: lightgrey;
}
