.btn-group{
    margin: 0px auto;
}

#class_input_form{
    text-align: center;
    margin: 0px auto;
}

.header{
    font-family: 'Roboto', sans-serif;
    text-rendering: optimizelegibility;
    font-weight: bold;
    text-align: center;
}

#title
{
    text-align: center;
    color: #81C784;
    font-family: 'Roboto', sans-serif;
    text-rendering: optimizelegibility;
    font-size: 4em;
}

#majorTab {
    position: relative;
    left: 12px;
    width: 95%;
    max-width: 100%;
    margin-bottom: 2rem;
    border-top: 1px solid black;
    white-space: nowrap;
}

#coreTab {
    position: relative;
    left: 12px;
    width: 95%;
    max-width: 100%;
    margin-bottom: 2rem;
    border-top: 1px solid black;
    white-space: nowrap;
}

#entered_class{
    margin-bottom: 25px;
    margin: auto;
}

#submitButton{
    margin: auto;
}

#left_side{
    float: left;
    width: 54%;
    border:1px solid black;
    background: #f7f7f7;
}
#right_side{
    float:right;
    width: 45%;
    border:1px solid black;
    background: #f7f7f7;
}
#container{
    width: 100%;
}
#eduEnrich
{
    border:1px solid black;
    width: 50%;
    background-color: lightgray;
}

#class_list_title{

}
#class_list{
    list-style-type: none;
    text-align: center;
}
#save{
    background-image: linear-gradient(to bottom, #08c, #04c);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    position: relative;
    left: 20px;
    margin-bottom: 10px;
}
#newSession{
    background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    position: relative;
    left: 20px;
}
table, td {
   border: 1px solid black;
}
td{
    background-color: lightgrey;
}
