.lines {
    color: white;
}

.jumbotron {
    text-align: center;
}

#jumbo1 {
    background-color: #1cdb4f;
}

#jumbo2 {
    background-color: white;
}

#generate {
    background-color: #1cdb4f;
    color: white;
    border: 0 none;
}

#textContainer {
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    width: 20%;
}

#input {
    width: 20%;
    text-align: center;
}

#or {
    text-align: center;
}
