#left_side
{
    border:1px solid black;
}

#right_side
{
    border:1px solid black;
}

#eduEnrich
{
    border:1px solid black;
    width: 50%;
}

table, th, td {
   border: 1px solid black;
}
td{
    background-color: lightgrey;
}
